<%= @board.type_of_ship %>
<%= @board.start_x %>
<%= @board.end_x %>
<%= @board.start_y %>
<%= @board.end_y %>
<%= @board.hits %>

<%= link_to 'edit', edit_board_path %>

<!-- add table -->
<table class="table table-bordered">
<thead>
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>

  </tr>
</thead>
<tbody>

</tbody>
</table>
